<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-lg-6"><h5>Devices</h5></div>
            <div class="col-lg-6 text-right">
                <button nbButton status="primary" class="add-device-button"
                (click)="onAddDeviceManualButtonClick()">
                    <i class="fas fa-plus-square"></i>
                </button>
                <!-- do at phase 1.1-->
                <!-- <button nbButton status="primary" class="add-device-button">
                    <i class="fas fa-qrcode"></i>
                </button> -->
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="tableSettings" [source]="listings" ></ng2-smart-table>
        <div class="pagination-container">
            <mdm-pager *ngIf="pagination" 
            [page]="page"
            [totalItem]="pagination.totalSize"
            [itemPerPage]="10"
            (onPageChange)="onPageChanged($event)"></mdm-pager>
        </div>

    </nb-card-body>
</nb-card>