<div class="statistic-pie">
  <div class="statistics-chart">
    <div echarts
         [options]="option"
         class="echart"
         (chartInit)="onChartInit($event)">
    </div>
  </div>
  <div class="statistics-footer">
    <div class="chart-values h5">
      <span class="chart-value">{{ value}}</span>
      <span class="chart-value">{{ maxValue - value }}</span>
    </div>
    <mdm-legend-chart class="statistic-pie-legend" [legendItems]="chartLegend"></mdm-legend-chart>
  </div>
</div>
