.add-device-button {
    margin-left: 0.1rem;
}

.tree {
    width: 300px;
}

.node-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.node-content-wrapper {
    flex-grow: 1;
    position: relative;
}

.pull-right {
    position: absolute;
    right: 10px;

    i {
        margin-left: 0.5rem;
        color: white;
        &.fa-check {
            color: #c0c0c0;
        }
    }

    &:hover {
        i {
            color: #c0c0c0;
        }
    }
}

.group-name-input {
    width: 100px;
}

nb-menu {
    margin-left: -15px;
}