<div class="row">
    <div class="col-lg-3">
      <nb-menu [items]="sideMenuItems">
      </nb-menu>
    </div>
    <div class="col-lg-9 list-contianer list-contianer" >
      <ng2-smart-table [settings]="tableSettings" [source]="logs$ | async"></ng2-smart-table>
      
  </div>
  <div class="col-log-9 offset-lg-3 pagination-container">
    <mdm-pager *ngIf="pagination" 
      [page]="page"
      [totalItem]="pagination.totalSize"
      [itemPerPage]="10"
      (onPageChange)="onPageChanged($event)"></mdm-pager>
  </div>
</div>