<div class="row">
  <div class="col-lg-3">
    <nb-card>
      <!-- i18n="@@registedDevice" -->
      <nb-card-header>Registed devices</nb-card-header>
      <nb-card-body>
        <div class="count-label">
          <div class="count-label-container">
            <div class="count-label status-primary">
              {{deviceSummary.registedCount}}
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <!-- i18n="@@active" -->
      <nb-card-header>Active</nb-card-header>
      <nb-card-body>
        <mdm-statistic-pie 
         [value]="deviceSummary.activeCount" 
         [maxValue]="deviceSummary.registedCount" 
         [chartLegend]="deviceActiveChartLegends"></mdm-statistic-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <!-- i18n="@@online" -->
      <nb-card-header>Online</nb-card-header>
      <nb-card-body>
        <mdm-statistic-pie 
         [value]="deviceSummary.onlineCount" 
         [maxValue]="deviceSummary.registedCount"
         [chartLegend]="deviceOnlineChartLegends"></mdm-statistic-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
       <!-- i18n="@@enrollment" -->
      <nb-card-header>Enrollment</nb-card-header>
      <nb-card-body>
        <mdm-statistic-pie 
         [value]="deviceSummary.enrolledCount" 
         [maxValue]="deviceSummary.registedCount"
         [chartLegend]="deviceEnrollmentChartLegends"></mdm-statistic-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <!-- i18n="@@model" -->
      <nb-card-header>Model</nb-card-header>
      <nb-list>
        <nb-list-item>
          <!-- i18n="@@name" -->
          <div class="col-lg-4"><b>Name</b></div>
          <!-- i18n="@@online" -->
          <div class="col-lg-4 text-center"><b>Online</b></div>
          <!-- i18n="@@offline" -->
          <div class="col-lg-4 text-center"><b>Offline</b></div>
        </nb-list-item>
        <nb-list-item *ngFor="let deviceModelSummary of deviceModelSummaries">
          <div class="col-lg-4">{{deviceModelSummary.name}}</div>
          <div class="col-lg-4 text-center">{{deviceModelSummary.online}}</div>
          <div class="col-lg-4 text-center">{{deviceModelSummary.offline}}</div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <!-- i18n="@@licenseStatus" -->
      <nb-card-header>License status</nb-card-header>
      <nb-list>
        <nb-list-item>
           <!-- i18n="@@name" -->
           <div class="col-lg-3"><b>Name</b></div>
          <!-- i18n="@@expired" -->
          <div class="col-lg-3 text-center"><b>Expired</b></div>
          <!-- i18n="@@available" -->
          <div class="col-lg-3 text-center"><b>Available</b></div>
          <!-- i18n="@@inuse" -->
          <div class="col-lg-3 text-center"><b>Inuse</b></div>
        </nb-list-item>
        <nb-list-item *ngFor="let status of licenseStatus">
          <div class="col-lg-3">{{status.name}}</div>
          <div class="col-lg-3 text-center">{{status.expiredCount}}</div>
          <div class="col-lg-3 text-center">{{status.availableCount}}</div>
          <div class="col-lg-3 text-center">{{status.inuseCount}}</div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
