<nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header>
        Basic Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Network
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    <nb-accordion-item>
      <nb-accordion-item-header>
        Related information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.
      </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item>
        <nb-accordion-item-header>
          License
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>
  </nb-accordion>
  